.CodeMirror {
	color: rgb(213, 213, 213);
}
.CodeMirror-gutter-performance {
	background-color: rgb(36, 36, 36);
}
.CodeMirror-gutter-coverage {
	background-color: rgb(36, 36, 36);
}
.CodeMirror .source-frame-eval-expression {
	border-top-color: rgb(221, 99, 92);
	border-right-color: rgb(221, 99, 92);
	border-bottom-color: rgb(221, 99, 92);
	border-left-color: rgb(221, 99, 92);
	background-color: rgb(102, 102, 0);
}
.CodeMirror .source-frame-continue-to-location {
	background-color: rgb(0, 20, 84);
}
.CodeMirror .source-frame-continue-to-location:hover {
	border-top-color: rgb(1, 22, 138);
	border-right-color: rgb(1, 22, 138);
	border-bottom-color: rgb(1, 22, 138);
	border-left-color: rgb(1, 22, 138);
	background-color: rgb(1, 28, 113);
}
.CodeMirror .source-frame-async-step-in {
	background-color: rgb(51, 89, 33);
}
.source-frame-async-step-in-hovered .source-frame-async-step-in {
	background-color: rgb(80, 137, 42);
	border-top-color: rgb(101, 155, 101);
	border-right-color: rgb(101, 155, 101);
	border-bottom-color: rgb(101, 155, 101);
	border-left-color: rgb(101, 155, 101);
}
.CodeMirror .CodeMirror-gutters {
	border-right-color: rgb(70, 70, 70);
	background-color: rgb(44, 44, 44);
}
.CodeMirror .CodeMirror-linenumber {
	color: rgb(127, 127, 127);
}
.cm-readonly-highlight {
	background-color: rgb(139, 139, 0);
}
.cm-breakpoint .CodeMirror-gutter-wrapper .CodeMirror-linenumber {
	color: black;
	-webkit-filter: invert(100%)
}
.cm-line-without-source-mapping .CodeMirror-linenumber {
	color: rgba(127, 127, 127, 0.4);
}
.cm-breakpoint.cm-breakpoint-conditional .CodeMirror-linenumber {
	-webkit-filter: invert(100%)
}
.cm-execution-line-tail + .CodeMirror-widget {
	background-color: rgb(1, 28, 113);
}
.source-frame-eval-expression + .CodeMirror-widget {
	border-top-color: rgb(221, 99, 92);
	border-right-color: rgb(221, 99, 92);
	border-bottom-color: rgb(221, 99, 92);
	border-left-color: rgb(221, 99, 92);
	background-color: rgb(102, 102, 0);
}
.cm-inline-breakpoint.cm-execution-line-tail {
	background-color: rgb(1, 36, 150);
}
.cm-execution-line-tail .cm-inline-breakpoint {
	background-color: rgb(36, 36, 36);
}
.cm-inline-breakpoint.cm-inline-conditional {
	background-color: rgb(242, 160, 16);
}
div.CodeMirror span.CodeMirror-matchingbracket {
	background-color: rgba(255, 255, 255, 0.07);
	border-bottom-color: rgba(230, 230, 230, 0.5);
	color: unset;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
	background-color: rgba(255, 0, 0, 0.07);
	border-bottom-color: rgba(255, 0, 0, 0.5);
	color: unset;
}
.cm-whitespace::before {
	color: rgb(80, 80, 80);
}
.cm-tab::before {
	border-bottom-color: rgb(80, 80, 80);
}
.cm-execution-line, .-theme-selection-color {
	background-color: rgb(84, 64, 0);
}
.cm-execution-line-outline, .-theme-selection-color {
	outline-color: rgb(191, 140, 11);
}
.cm-execution-line-tail, .-theme-selection-color {
	background-color: rgb(113, 86, 1);
}
.cm-execution-line .CodeMirror-linenumber, .-theme-selection-color {
	border-right-color: rgb(191, 140, 11);
}
.cm-token-highlight::before {
	border-top-color: rgb(127, 127, 127);
	border-right-color: rgb(127, 127, 127);
	border-bottom-color: rgb(127, 127, 127);
	border-left-color: rgb(127, 127, 127);
}
.cm-search-highlight::before {
	border-top-color: rgb(127, 127, 127);
	border-bottom-color: rgb(127, 127, 127);
}
.cm-search-highlight-full::before {
	border-top-color: rgb(127, 127, 127);
	border-right-color: rgb(127, 127, 127);
	border-bottom-color: rgb(127, 127, 127);
	border-left-color: rgb(127, 127, 127);
}
.cm-search-highlight-start::before {
	border-left-color: rgb(127, 127, 127);
}
.cm-search-highlight-end::before {
	border-right-color: rgb(127, 127, 127);
}
.cm-line-with-selection .cm-column-with-selection.cm-search-highlight::before {
	background-color: rgb(255, 248, 14);
}
.CodeMirror .text-editor-coverage-unused-marker {
	background-color: rgb(140, 26, 26);
}
.CodeMirror .text-editor-coverage-used-marker {
	background-color: rgb(56, 126, 59);
}
.CodeMirror .text-editor-value-decoration {
	background-color: rgb(99, 50, 0);
	color: rgb(213, 213, 213);
}
.CodeMirror .text-editor-line-with-warning:not(.cm-execution-line):not(.cm-readonly-highlight) {
	background-color: rgba(255, 244, 14, 0.1);
}
.CodeMirror .text-editor-line-with-error:not(.cm-execution-line):not(.cm-readonly-highlight) {
	background-color: rgba(255, 0, 0, 0.05);
}
.cm-trailing-whitespace {
	background-color: rgba(255, 0, 0, 0.05);
}
.CodeMirror .auto-complete-text {
	color: rgb(127, 127, 127);
}
