.scripts-debug-toolbar{background-color:rgb(42, 42, 42);border-bottom-color:rgb(61, 61, 61);}
.scripts-debug-toolbar-drawer{background-color:rgb(36, 36, 36);}
.watch-expressions .name{color:rgb(227, 110, 236);}
.watch-expression-error{color:red;}
.watch-expression-header:hover{background-color:rgb(43, 43, 43);}
.event-listeners-sidebar-pane .toolbar{border-bottom-color:rgb(44, 44, 44);}
