#rf_about_body{
	margin:                 0;
	-webkit-user-select:    none;
}
#rf_about_main_div{
	margin:                 0;
	padding:                0;
	border:                 0;
	padding-left:           25px;
	padding-top:            25px;
}
#rf_about_extension_lbl{
	font-family:            Verdana; 
	font-size:              24px;
	color:                  Gray;
	font-weight:            800;
}
#rf_about_main_table{
	color:                  gray;
	font-family:            verdana;
	font-size:              14px;
	margin-top:             20px;
}
#rf_about_build_td,
#rf_about_version_td{
	font-weight:            600;
}
#rf_about_copyright_lbl{
	font-family:            Verdana; 
	font-size:              14px;
	color:                  Gray;
}