body {
	margin: 0;
	padding: 0;
	border-width: 0;
	/* font-family: 'Segoe UI'; */
}

.prevent-selection {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
	cursor: default; /* also set cursor*/
}

/* ------------------------------------------------------------- */

.dialog-window {
	font-family: "Segoe UI";
	font-size: 15px;
	background-color: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
	border: 1px solid rgb(171, 180, 188);
	border-top: none;
}

.dialog-body {
	margin: 0;
	padding: 14px; /*top right bottom left*/
}

.dialog-footer {
	margin: 0;
	padding: 14px;
	background-color: rgb(246, 246, 246);
	height: 32px;
}

#autosave-dialog {
	width: 380px;
	/* height: 285px; */
}

#message-dialog {
	width: 270px;
	display: none;
}

/* ------------------------------------------------------------- */
.row-div {
	display: table-row;
}

.cell-div {
	display: table-cell;
}

.cell-align {
	vertical-align: middle;
}

.question-layout {
	vertical-align: top;
	padding: 0 0 28px 15px; /*top right bottom left*/
}

.control-layout {
	padding: 3px 5px 2px 15px;
}

.control-layout-extra-top {
	padding: 8px 5px 2px 15px;
}

.control-size {
	width: 100%;
	height: 30px;
}

#folder-div {
	width: 30px;
	height: 30px;
	position: relative;
}

	#folder-div:hover,
	#folder-div:focus {
		background-color: rgb(238, 238, 238);
	}

.folder-img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

/* ------------------------------------------------------------- */

.block-link {
	vertical-align: middle;
	color: rgb(62, 65, 67);
}

	.block-link:hover,
	.block-link:focus {
		color: rgb(40, 121, 255);
	}

.float-right {
	margin: 0;
	padding: 0;
	border: none;
	display: inline-block;
	float: right;
}

#close-button {
	float: right;
}

.autosave-dialog-button {
	font-family: "Segoe UI";
	font-size: 15px;
	margin: 0 0 0 20px;
	padding: 0;
	border: 1px solid rgb(216, 220, 224);
	color: rgb(62, 65, 67);
	background-color: rgb(255, 255, 255);
	width: 90px;
	height: 30px;
}

.autosave-dialog-button:hover,
.autosave-dialog-button:focus {
	border-color: rgb(130, 177, 255);
}

#unblock-autosave {
	margin: 0px;
}

#enable-autosave-button {
	margin: 0px;
	width: 132px;
}

#save-button {
	font-family: "Segoe UI";
	font-size: 15px;
	margin: 0 0 0 10px;
	padding: 0;
	border: 1px solid rgb(41, 98, 255);
	color: rgb(255, 255, 255);
	background-color: rgb(41, 121, 255);
	width: 90px;
	height: 30px;
}

#save-button:hover,
#save-button:focus {
	background-color: rgb(68, 138, 255);
	border-color: rgb(41, 121, 255);
}

/* ------------------------------------------------------------- */

.select-editable,
.select-not-editable {
	/* fixed width */
	width: 254px;
}

.name-wrapper-closed,
.name-wrapper-opened {
	position: relative;
	display: block;
}

.name-wrapper-closed {
	border: 1px solid #e3e3e3;
}

.name-wrapper-opened {
	border: 1px solid blue;
}

.name-input {
	position: relative;
	display: inline-block;
	font: inherit;
	background-color: white;
	border: none;
	outline: none;
	line-height: 2em;
	margin: 0;
	padding: 0 0 0 5px;
	font-size: 16px;
	/* fixed width */
	width: 200px;
}

.name-arrow-closed,
.name-arrow-opened {
	width: 24px;
	height: 24px;
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
	border-left: 1px solid #e3e3e3;
}

.name-arrow-closed {
	background: url(arrow-down.png) no-repeat center center;
}

.name-arrow-opened {
	background: url(arrow-up-blue.png) no-repeat center center;
}

.arrow-wrapper {
	display: inline-block;
	position: relative;
	float: right;
}

#file-name-arrow-wrapper:hover {
	background-color: #cccccc;
}

#folder-name-dropdown {
}

#file-name-dropdown {
	overflow: auto;
	max-height: 480px;
}

.dropdown-wrapper {
	position: absolute;
	border: 1px solid #e3e3e3;
	/* fixed width */
	width: 252px;
	overflow: hidden;
	z-index: 1000;
	background: white;
}

#folder-tree {
	position: relative;
	overflow: auto;
	max-height: 300px;
}

.dropdown-name {
	font: inherit;
	font-size: 16px;
	padding: 10px 5px;
	white-space: nowrap;
	overflow: visible;
}

.dropdown-name-selected {
	background-color: #cde2ff;
}

.dropdown-name:hover {
	background-color: #e9f1ff;
}

.dropdown-name-icon {
	width: 16px;
	height: 16px;
	margin: 0 5px 0 0;
}

.dropdown-section-name {
	font: inherit;
	font-size: 14px;
	padding: 10px 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.tree-node-container {
	padding: 0;
	margin: 0;
}

	.tree-node-container li {
		list-style-type: none;
	}

/* indent for all children excepts root */
.tree-node {
	margin-left: 5px;
	zoom: 1;
}

.tree-root {
	margin-left: 0;
}

.tree-node-selected {
	background-color: #cde2ff;
}

.tree-node-header:hover {
	background-color: #e9f1ff;
}

.tree-node-expand-open .tree-node-expand {
	background-image: url(arrow-down.png), url(tree-folder-open.ico);
	background-position: 5px 3px, 25px 3px;
	background-repeat: no-repeat, no-repeat;
	background-size: 16px 16px, 16px 16px;
	padding: 0 30px 0 0;
}

/* closed is higher priority than open */
.tree-node-expand-closed .tree-node-expand {
	background-image: url(arrow-right.png), url(tree-folder-closed.ico);
	background-position: 5px 3px, 25px 3px;
	background-repeat: no-repeat, no-repeat;
	background-size: 16px 16px, 16px 16px;
	padding: 0 30px 0 0;
}

/* highest priority */
.tree-node-leaf .tree-node-expand {
	background: url(tree-folder-leaf.ico) no-repeat 25px 3px;
	background-size: 16px 16px;
	padding: 0 30px 0 0;
}

.tree-node-content {
	min-height: 30px;
	margin-left: 18px;
	white-space: nowrap;
}

* html .tree-node-content {
	height: 18px;
}

.tree-node-expand-loading {
	width: 18px;
	height: 18px;
	float: left;
	background-image: url(tree-folder-loading.ico);
}

.tree-node-expand {
	width: 18px;
	height: 30px;
	float: left;
}

.tree-node-expand-open .tree-node-container {
	display: block;
}

.tree-node-expand-closed .tree-node-container {
	display: none;
}

.tree-node-expand-open .tree-node-expand, .tree-node-expand-closed .tree-node-expand {
	cursor: pointer;
}

.tree-node-leaf .tree-node-expand {
	cursor: auto;
}

#new-folder-name-input {
	font-family: "Segoe UI";
	font-size: 15px;
	width: 157px;
	height: 24px;
	margin: 0px;
	padding: 2px 7px 2px 7px; /*top right bottom left*/
	position: static;
	border-width: 1px;
	border-color: #e3e3e3;
	border-style: solid;
	display: inline-block;
	outline-width: 0;
}

	#new-folder-name-input:focus {
		border-color: blue;
	}

#create-folder-button {
	font-family: "Segoe UI";
	font-size: 15px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 26px;
	border-width: 1px 0px 0px 0px;
	border-color: #e3e3e3;
	border-style: solid none none none;
	color: rgb(62, 65, 67);
	background-color: rgb(255, 255, 255);
	text-align: left;
	width: 100%;
	height: 24px;
}

	#create-folder-button:hover,
	#create-folder-button:focus {
		background-color: #e9f1ff;
	}

.new-folder-arrow {
	margin: 0 7px 0 0; /*top right bottom left*/
	padding: 0;
}

.new-folder-ok {
	margin: 0 7px 0 7px; /*top right bottom left*/
	padding: 0;
}

.error-message {
	display: inline;
	color: red;
}

.warning-message {
	display: inline;
}

#createFolderDiv {
	display: none;
}

#error-login-dialog {
	display: none;
	width: 400px;
}

#block-auto-save-confirmation-dialog,
#unblock-auto-save-confirmation-dialog {
	width: 415px;
	display: none;
}

.info-header {
	font-size: 20px;
	color: #2962ff;
}

.error-div {
	margin: 5px 0 5px 5px;
}

#error-login-message {
	vertical-align: middle;
}

#page-mask {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1500;
	display: none;
}

#progress-dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	background-color: transparent;
	border: none;
	z-index: 1500;
	display: none;
	margin-left: -20px;
	margin-top: -20px;
}