div#rf_oq59tkMNhi.rf_3a5eQI5A3N {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	cursor: default !important;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	overflow: visible !important;
	visibility: hidden;
	display: block !important;
	position: fixed !important;
	float: none !important;
	clear: none !important;
	line-height: normal !important;
	z-index: 2147483647 !important;
	opacity: 1 !important;
	width: auto !important;
	height: 110px !important;
	min-height: 110px !important;
	/*top: 0px !important;*/
	/*left: 0px !important;*/
	font-family: "Segoe UI" !important;
	font-size: 15px !important;
	color: rgb(172, 215, 169) !important;
	background-color: transparent !important;
}

div#rf_mqoG2PsWe4.rf_530npRCcV5 {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	cursor: default !important;
	margin: 0px !important;
	padding: 0px 14px 0px 14px !important;
	border: 0px !important;
	overflow: hidden !important;
	visibility: inherit !important;
	display: block !important;
	position: static !important;
	float: none !important;
	clear: none !important;
	line-height: normal !important;
	z-index: 2147483647 !important;
	opacity: 1 !important;
	width: auto !important;
	height: 24px !important;
	min-height: 24px !important;
	/*top: 0px !important;*/
	/*left: 0px !important;*/
	font-family: "Segoe UI" !important;
	font-size: 15px !important;
	color: rgb(172, 215, 169) !important;
	background-color: rgb(91, 178, 84) !important;
}

span#rf_6e46jGA50S.rf_X1eLm5Vxcx {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	cursor: default !important;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	overflow: visible !important;
	visibility: inherit !important;
	display: block !important;
	position: relative !important;
	float: right !important;
	clear: none !important;
	line-height: normal !important;
	z-index: 2147483647 !important;
	opacity: 1 !important;
	width: auto !important;
	height: 24px !important;
	min-height: 24px !important;
	/*left: 0px !important;*/
	top: -6px !important;
	font-family: "Segoe UI" !important;
	font-size: 22px !important;
	color: rgb(172, 215, 169) !important;
	background-color: rgb(91, 178, 84) !important;
}

	span#rf_6e46jGA50S.rf_X1eLm5Vxcx:hover,
	span#rf_6e46jGA50S.rf_X1eLm5Vxcx:focus {
		color: rgb(253, 254, 253) !important;
	}
