body {
    font-family: arial;
    font-size: 13px;
    -webkit-user-select: none;
    user-select: none;
	cursor: default;
}

.options-container {
    width: 75%;
    margin: 0px auto;
    text-align: left;
    padding: 25px 0px;
    min-width: 200px;
    min-height: 50px;
}

.options-table {
    display: table;
    border-spacing: 10px;
    border-collapse: separate;
}

.option-row {
    display: table-row;
}

.option-label {
    white-space: normal;
}

#opt_content_wrapper,
#mp_div_loader {
    display: none;
}

#options_page_mask,
#options_progress_dialog {
    display: none;
}

* {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}