body {
    font-family: arial;
    font-size: 13px;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: rgb(230, 230, 230);
    overflow-x: hidden;
    overflow-y: auto;
}

.body-V8 {
    font-family: 'Segoe UI';
    background-color: rgb(255, 255, 255);
}

.toolbar-button {
    padding: 4px 2px;
    display: inline-block;
    white-space: nowrap;
    cursor: default;
    background-color: transparent;
    border-radius: 3px;
    -webkit-transition: box-shadow 500ms ease-in-out;
    -o-transition: box-shadow 500ms ease-in-out;
    transition: box-shadow 500ms ease-in-out;
}

.toolbar-button:hover {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 17%, rgb(250, 250, 250) 68%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(bottom, rgb(255, 255, 255) 17%, rgb(250, 250, 250) 68%, rgb(255, 255, 255) 100%);
    background: linear-gradient(bottom, rgb(255, 255, 255) 17%, rgb(250, 250, 250) 68%, rgb(255, 255, 255) 100%);
    -webkit-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

.toolbar-button:active {
    position: relative;
    top: 1px;
}

.toolbar-button-V8 {
    white-space: nowrap;
    cursor: default;
    background-color: transparent;
    height: 32px;
    line-height: 32px;
    padding-left: 14px;
	position: relative;
}

.toolbar-button-V8-hover {
}

.toolbar-button-V8-hover:hover {
    background-color: rgb(238, 238, 238);
}

.toolbar-button-content {
    display: inline-block;
}

.toolbar-button-content > * {
    vertical-align: middle;
    padding: 0 2px;
}

.toolbar-button-icon {
    width: 16px;
    height: 16px;
}

.toolbar-button-text {
    display: inline-block;
    max-width: 400px;
    white-space: normal;
    word-wrap: break-word;
}

.toolbar-button-text-V8 {
    display: inline-block;
    max-width: 220px;
    min-height: 32px;
    margin: 0 0 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toolbar-button-suffix-V8 {
    display: inline-block;
    max-width: 100px;
    margin: 0 52px 0 -30px;
    padding: 0 0 0 34px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toolbar-home-icon-V8 {
    left: 6px;
    background: url("home.png") no-repeat center;
}

.toolbar-back-icon-V8 {
    left: 6px;
    background: url("back.png") no-repeat center;
}

.toolbar-main-settings-icon-V8 {
    right: 6px;
    background: url("main_settings.png") no-repeat center;
}

.toolbar-title-icon-V8 {
    display: inline-block;
    position: absolute;
    top: 6px;
    width: 36px;
    height: 36px;
}

.toolbar-title-icon-V8:hover {
    background-color: rgb(238, 238, 238);
}

.toolbar-title-V8 {
    white-space:nowrap;
    height: 36px;
    padding-top:5px;
}

.toolbar-title-text-V8 {
    font-size:15px;
    font-weight:bold;
    line-height: 36px;
    cursor:default;
    text-align: center;
    vertical-align:middle;
    color: #4f5254;
}

.toolbar-item-title-image-V8 {
    padding: 0 10px 0 0;
}

.toolbar-item-title-text-V8 {
    display: inline-block;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toolbar-match-title-V8 {
    font-size: 11px;
    padding: 0px 0px 5px 18px;
    margin-top: -3px;
}

.toolbar-button-menu-icon {
}

.toolbar-button-menu-icon-V8 {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 7px 13px 0 0;
    background: url("list_arrow.png") no-repeat center;
}

.toolbar-minidialog-icon-V8 {
    height: 32px;
    width: 42px;
    display: inline-block;
    position: absolute;
	right: 0;
    background: rgb(255, 255, 255) url("list.png") no-repeat center;
}

.toolbar-minidialog-icon-V8:hover {
    background-color: rgb(238, 238, 238);
}

.toolbar-search {
    white-space: nowrap;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.toolbar-search > * {
    vertical-align: middle;
}

.toolbar-search-V8 {
    margin: 4px 0;
    padding: 0 6px;
    white-space: nowrap;
}

.toolbar-search-pane-V8 {
    border: 2px solid rgb(246, 246, 246);
    padding-left: 8px;
    padding-right: 0;
    background-color: rgb(246, 246, 246);
}
.toolbar-search-V8 > * {
    vertical-align: middle;
}

.toolbar-search-pane-V8 > * {
    vertical-align: middle;
}

.toolbar-search-icon-V8 {
    display: inline-block;
    position: absolute;
    margin: 5px 11px 0 0;
    right: 5px;
}

.toolbar-search-edit {
}

.toolbar-search-edit-V8 {
    border: 0;
    width: 100%;
    background-color: rgb(246, 246, 246);
    -webkit-appearance: none;
    height: 26px;
}

input[class="toolbar-search-edit-V8"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    position: relative;
    right: 4px;
    background: url("search_cancel.png") no-repeat center;
}

.toolbar-search-edit-V8:focus {
    outline: 0;
}

.bold-text {
    font-weight: bold;
}

.hide-text .item-text {
    display: none;
}

.hide-icon .item-icon {
    display: none;
}

.wrap {
    white-space: normal;
}

.nowrap {
    white-space: nowrap;
}

.vbox {
    display: block;
}

.vbox > * {
    display: block;
}

.hbox {
    display: inline-block;
}

.hbox > * {
    display: inline-block;
    margin: 2px 2px;
}

.hbox a {
    float: right;
}

.vlayout {
    display: inline-block;
}

.vlayout > * {
    display: inline-block;
    margin: 2px 2px;
}

.hseparator,
.vlayout .separator {
    height: 1px;
    margin: 4px auto;
    background: grey;
    border: 0px;
    display: block !important;
}

.separator-V8 {
    height: 1px;
    margin: 8px auto;
    background-color: rgb(216, 220, 224);
    border: 0px;
    display: block !important;
}

.vlayout .toolbar-search {
    float: left;
}

.hlayout {
    display: block;
}

.hlayout > * {
    display: inline-block;
}

.vseparator,
.hlayout .separator {
    border-left: 1px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: grey;
    margin: 0px 4px;
    display: inline !important;
    vertical-align: middle;
}

.hlayout .toolbar-button-text {
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hlayout [name="roboform"] .item-icon + .item-text {
    display: none;
}

#toolbar {
    margin-top: -8px;
    margin-right: -8px;
    display: table;
}

.toolbar-V8 {
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
}

#ui-items {
    display: table-cell;
}

#layout {
    display: table-cell;
    visibility: hidden;
}

#layout .icon {
    width: 16px;
    height: 16px;
}

#layout.horizontal .icon {
    background: url("horiz.png") no-repeat center;
}

#layout.vertical .icon {
    background: url("vert.png") no-repeat center;
}

* {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}