body {
    max-width: 780px;
}

.toolbar-button-text-V8 {
    margin: 0 52px 0 12px;
}

#templates,
#setup_notification_div,
#strip_loader_div,
#mainscreen,
#rfpassword_generator_div,
#rfsignupsection_div,
#rfloginsection_div,
#change_master_password_div,
#rf_otp_section_div,
#search_bar_dropdown,
#identity_minidialog_div,
#match_dialog_div,
#settingsDialog,
#contextmenu_div,
#rfobject_delete_section_div,
#session_timeout_div,
#rffolder_create_div,
#rffolder_rename_div,
#mastpwdEnter_div,
#rfcreate_mpsection_div,
#logineditor_div,
#manualsaveDlg_div,
#rfcreate_object_dialog,
#rfIdentitysection_div {
    display: none;
}