#manual_save_dlg_createfldsection_maintr {
    display: none;
}

body {
    overflow-y: hidden;
    font-family: 'Segoe UI';
    background-color: white;
    height: 410px;
    margin: 0;
    max-width: 350px;
    min-width: 350px;
}

#mainscreen {
    margin: 0;
    padding: 0;
    height: 410px;
    max-height: 465px;
    display: none;
}

#toolbar,
#message {
    display: none;
}

#setup_notification_div,
#rf_otp_section_div,
#rfsignupsection_div1,
#rfloginsection_div,
#enteraccountpwd_div,
#change_master_password_div,
#rfsignupsection_div,
#session_timeout_div,
#logineditor_div,
#rfcreate_mpsection_div,
#mastpwdEnter_div,
#manualsaveDlg_div,
#rfcreate_object_dialog,
#rffolder_create_div,
#rffolder_rename_div,
#strip_loader_div,
#setup_notification_div,
#rfobject_delete_section_div,
#rfobject_unblock_section_div {
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    height: 445px;
}

#listscrolldiv {
    margin: 0;
    padding: 0;
    height: 440px;
    max-height: 440px;
    min-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
}

.toolbar-minidialog-icon-hover-V8 {
    background: url("list_hover.png") no-repeat center;
}

.toolbar-menu-arrow-icon-hover-V8 {
    background: url("list_arrow_hover.png") no-repeat center;
}

.toolbar-menu-arrow-icon-normal-V8 {
    background: url("list_arrow.png") no-repeat center;
}

.toolbar-menu-arrow-icon-normal-V8 {
    background: url("/list_arrow.png") no-repeat center;
}

.toolbar-menu-arrow-icon-hover-V8 {
    background: url("/list_arrow_hover.png") no-repeat center;
}

.toolbar-button-text-V8 {
    max-width: 254px;
}

.toolbar-minidialog-icon-hover-V8 {
    background: url("/list_hover.png") no-repeat center;
}

/***********       BACK BUTTON        **********/
#back {
    width: 337px;
    margin: 0;
    padding: 0 0 0 13px;
}

#back:hover {
    background-color: rgb(216, 220, 224);
}

.toolbar-new-contact-icon-V8,
.toolbar-new-identity-icon-V8,
.toolbar-new-safenote-icon-V8,
.toolbar-new-folder-icon-V8 {
    height: 32px;
    width: 32px;
    display: inline-block;
}

.toolbar-new-contact-icon-V8:hover,
.toolbar-new-identity-icon-V8:hover,
.toolbar-new-safenote-icon-V8:hover,
.toolbar-new-folder-icon-V8:hover {
    background-color: rgb(238, 238, 238);
}

.toolbar-new-contact-icon-V8 {
    position: absolute;
	right: 0px;
    background: rgb(256, 256, 256) url("contact_add16.png") no-repeat center;
}

.toolbar-new-identity-icon-V8 {
    position: absolute;
	right: 0px;
    background: rgb(256, 256, 256) url("identity_add16.png") no-repeat center;
}

.toolbar-new-safenote-icon-V8 {
    position: absolute;
	right: 0px;
    background: rgb(256, 256, 256) url("safenote_add16.png") no-repeat center;
}

.toolbar-new-folder-icon-V8 {
    position: absolute;
	right: 0px;
    background: rgb(256, 256, 256) url("folder_add16.png") no-repeat center;
}

/*******      END SECTION BACK button     ******/

.notification-footer {
    color: #464646;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    padding: 14px;
    border-top: 1px solid rgb(216, 220, 224);
    background-color: rgb(246, 246, 246);
    cursor: default;
}

.notification-footer-download-link {
    color: #2979ff;
    font-size: 12px;
    text-decoration: none
}

/*********       LOADING DIV        ************/
#strip_loader_div {
    padding: 0;
    margin: 0;
    z-index: 1000;
    display: block;
    border: 0 solid red;
    height: 140px;
    max-height: 140px;
    min-height: 140px;
}

/** RF Logo at the top**/
#loader_table {
    margin: 0;
    border: 0 dotted green;
    width: 100%;
    text-align: center;
    padding: 10px 10px 0;
}

#loader_table td {
    padding: 0;
}

/** RF main text, to the right from the logo**/
#loader_text_td {
    font-weight: 400;
    color: RGB(215, 215, 215);
    font-size: 19px;
    text-align: center;
    vertical-align: central;
    white-space: normal;
}

#loader_logo_td {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

#rf_loader_img {
    opacity: 0.2;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    padding: 0;
    margin: 0;
}

/**********  CREATE OBJECT DIALOG   *************/
#rfcreate_object_dialog {
    padding: 0;
    margin: 0;
}

/*TOP table*/
#rfcreateobj_table {
    margin: 0;
    font-weight: normal;
    color: black;
    font-family: 'Segoe UI';
    font-size: 15px;
    width: 100%;
    padding: 5px 6px 6px 4px;
}

#rfcreateobj_table td {
    padding: 0;
    border: 0 dotted red;
}

/**** TOP section Object IMAGE and Create Text *****/
#rf_createobject_image_td {
    border-bottom: 0 solid grey;
}

#rf_create_obj_img {
    width: 48px;
    height: 48px;
    padding: 0;
    border: 0 solid black;
    background-color: white;
    margin: 0 10px 0 0;
}

#rf_createobject_text_td {
    color: black;
    border-bottom: 0 solid grey;
    font-weight: 600;
}

/*MIDDLE table*/
#rfcreateobj_table2 {
    margin: 0;
    font-weight: normal;
    color: black;
    font-family: 'Segoe UI';
    font-size: 13px;
    width: 100%;
    background-color: RGB(246, 246, 246);
    padding: 14px 6px 8px 7px;
}

#rfcreateobj_table2 td {
    padding: 0;
    border: 0 dotted red;
}

/**** INPUT for new name ****/
#rf_createobj_countrieslbl_td,
#rf_createobj_newname_td {
    font-weight: 600;
    font-size: 13px;
}

#rf_createobj_input {
    width: 97%;
    font-size: 13px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 5px;

}

/**NOTE, label and TEXT AREA **/
#rf_createobj_notelbl_td {
    font-weight: 600;
    font-size: 13px;
    padding-top: 0;
}

#rf_createobj_textarea {
    width: 99%;
    height: 185px;
    min-height: 185px;
    max-height: 185px;
    font-weight: normal;
    font-size: 12px;
    resize: none;
    margin: 0 0 0;
    padding: 2px 0 0 2px;
}

/**** COUNTRY****/
#rf_createobj_countries_select {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 13px;
    width: 99%;
    height: 23px;
    min-height: 23px;
    max-height: 23px;
}

#rf_createobj_countries_select option {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 13px;
}

/**** error message****/
#td_wrong_objectname_msg {
    color: red;
    font-weight: normal;
    font-size: 11px;
    height: 17px;
    min-height: 17px;
    max-height: 17px;
}

/*BOTTOM table*/
#rfcreateobj_table3 {
    margin: 0;
    font-weight: normal;
    color: black;
    font-family: 'Segoe UI';
    font-size: 13px;
    width: 100%;
    background-color: white;
    padding: 15px 6px 0;
}

#rfcreateobj_table3 td {
    padding: 0;
    border: 0 dotted red;
}

/** Bottom buttoms and progress**/
#rfnewobject_pr_indicator {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 20px;
    width: 16px;
    height: 16px;
    border: 0 solid red;
    display: none;
}

#rfobject_create_ok_btn,
#rfobject_create_cancel_btn {
    margin: 0;
    padding: 0;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 72px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    margin-right: 4px;
}

/******       END SECTION CreateObject     *****/

/*********** MANUAL SAVE DIALOG ****************/
#manualsaveDlg_div {
    margin: 0;
    padding: 10px 0 0;
    font-family: 'Segoe UI';
    font-size: 13px;
}

/**TOP DIV with Radio and labels **/
#manualsaveDlg_top_div {
    margin: 0;
    border: 0 dotted red;
    padding: 10px 0;
}

#manualsaveDlg_top_tbl {
    margin: 0;
    width: 100%;
    padding: 0 5px;
}

#manualsaveDlg_top_tbl td {
    padding: 0;
    border: 0 dotted red;
}

#manualsaveDlg_lbl_login,
#manualsaveDlg_lbl_bookmark {
    padding: 0;
    font-size: 13px;
}

/*middle section:  Name and folders treeview */

#manualsaveDlg_middle_table {
    margin: 0;
    width: 100%;
    padding: 0 5px;
}

#manualsaveDlg_middle_table td {
    padding: 0;
    border: 0 dotted red;
}

#manualsaveDlg_name_lbl {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#manualsaveDlg_name_textbox {
    margin: 0;
    width: 98%;
    font-size: 13px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    padding: 0 0 0 2px;
}

/*  TREE VIEW*/
#manual_save_dlg_section_tree_row {
    height: 275px;
    max-height: 275px;
    min-height: 275px;
}

#manual_save_dlg_treeview {
    border: 1px solid #898989;
    padding: 0;
    margin: 4px 0 2px;
    width: 99%;
    background: white;
    font-size: 11px;
    min-height: 275px;
    max-height: 275px;
    height: 275px;
    overflow-y: auto;
}

.treeview {
    padding: 0;
    margin: 0;
    clear: both;
    font-family: 'Segoe UI';
    width: 100%;
}

.treeview li p {
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 0.3em;
    left: 0.1em;
    width: 100%;
    background: white;
    margin: 1px 0;
}

.treeview img.i {
    background: white;
    vertical-align: middle;
    margin: 0 2px 0 0;
}

.treeview img.i2 {
    background: white;
    vertical-align: text-bottom;
    margin: 0 4px 0 16px;
}

.treeview a.sc {
    position: absolute;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 16px;
    max-width: 16px;
}

.treeview a.nodetext {
    text-decoration: none;
    font-family: tahoma;
    font-size: 11px;
}

.treeview ul li li,
.treeview ul li li div,
.treeview ul.l,
.treeview .sc {
    background: white;
}

.treeview a.sc:hover,
.treeview a.sc {
    color: white;
}

.treeview a {
    padding: 0;
    white-space: nowrap;
    height: 0;
    color: black;
}

.treeview a:hover {
    color: blue;
}

.treeview ul {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0 0 5px;
    list-style-type: none;
}

.treeview ul ul {
    overflow: visible;
    width: auto;
    margin: 0;
    padding: 0 0 0 1.2em;
}

.treeview ul.l {
    margin-left: -1px;
}

.treeview li.cl ul {
    display: none;
}

.treeview li {
    margin: 0;
    padding: 0;
}

.treeview li li {
    margin: 0 0 0 0.5em;
    padding: 0;
}

.treeview li div {
    position: relative;
    height: 1.7em;
    min-height: 16px;
}

/* error message */
#manual_save_dlg_err_msg {
    font-size: 10px;
    color: red;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
}

#manual_save_dlg_unblock_td {
    display: none;
}

/* progress indicator */
#manual_save_dlg_pr_indicator {
    position: absolute;
    margin: 0 0 0 10px;
    padding: 0;
    width: 16px;
    height: 16px;
    border: 0 solid red;
    display: none;
}

/*  NEW FOLDER PART of the dialog */
#manual_save_dlg_createfldsection_table {
    margin: 0;
    width: 100%;
    padding: 0 5px;
}

#manual_save_dlg_createfldsection_table td {
    padding: 0;
    border: 0 solid #898989;
}

#manual_save_dlg_createfldsection_nametxt {
    margin: 0;
    width: 98%;
    font-size: 13px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    padding: 0 0 0 2px;

}

#manual_save_dlg_createfldsection_err_msg {
    font-size: 10px;
    color: red;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
}

#manual_save_dlg_createfldsection_s1 {
    margin-bottom: 10px;
}

#manual_save_dlg_createfldsection_progress {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 20px;
    width: 16px;
    height: 16px;
    border: 0 solid red;
    display: none;
}

/*BOTTOM INDICATOR AND BUTTONS*/
#manual_save_dlg_createfldsection_cancelbtn,
#manual_save_dlg_createfldsection_okbtn,
#manualsaveDlg_createfld_btn,
#manual_save_dlg_btn_Cancel,
#manual_save_dlg_btn_OK {
    margin: 0;
    padding: 0;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 72px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

#manual_save_dlg_btn_Cancel {
    margin-left: 5px;
    margin-right: 2px;
}

#manualsaveDlg_createfld_btn {
    width: 88px;
    min-width: 88px;
    max-width: 88px;
    font-size: 11px;
    margin-right: 3px;
}

#manual_save_dlg_createfldsection_cancelbtn,
#manual_save_dlg_createfldsection_okbtn {
    margin-right: 5px;
}

/**********   IDENTITY/CONTACT Editor    *******/

#rfIdentitysection_div {
    padding: 0;
    margin: 0;
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    background: RGB(245, 245, 245);
}

/** MAIN table **/
#rfIdentitysection_table {
    margin: 0;
    width: 100%;
    padding: 0 0 10px;
}

#rfIdentitysection_table td {
    padding: 0;
}

#rfIdentitysection_OKBtn,
#rfIdentitysection_CancelBtn {
    padding: 0;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 72px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    margin: 0 5px 0 0;
}

#rfIdentitysection_CancelBtn {
    margin-right: 11px;
}

/** MAIN CONTENT DIV **/
#page_content_div {
    border-bottom: 0 solid darkgrey;
    font-size: 12px;
    background-color: RGB(245, 245, 245);
    padding: 10px 2px;
    margin: 0 0 3px;
}

/** TABS **/
#identityDiv_tabs {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.rf_tab {
    padding: 5px 10px;
    float: left;
    border: 1px solid #aaa;
    font-size: 12px;
    font-weight: bold;
    background: #DCDFE6;
    width: 16px;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.identitytab_img {
    width: 16px;
    height: 16px;
}

/** CONTENTS div**/
#ff_content {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

.rf_pane {
    display: none;
    background: #fff;
    height: 335px;
    top: 0;
    left: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-left: 1px solid grey;
    border-right: 1px solid white;
    border-bottom: 1px solid RGB(200, 200, 200);
    border-top: 0 solid white;
    max-height: 335px;
    overflow-y: auto;
    padding: 10px 5px;
}

.rf_identity_table_innerset {
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border: 0 solid yellow;
    background-color: white;
    overflow-x: hidden;
}

/**  IDENTITY  EACH GROUP CONTENT*/
.rf_identity_groupfieldset {
    margin: 7px 0 3px 0;
    padding: 2px 8px 5px 8px;
    max-height: 345px;
    overflow-y: auto;
    overflow-x: hidden;
    color: Black;
    border-radius: 5px;
    background-color: white;
    border: 1px #969696;
}

.rf_identity_grouplegend {
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: black;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
    text-indent: 18px;
    height: 16px;
    background-position: bottom left;
    background-size: 15px 15px;
}

/** IDENTITY EACH GROUP TABLE**/
.rf_identity_table {
    margin: 0;
    padding: 0;
    width: 98%;
    table-layout: fixed;
    font-size: 11px;
    font-family: 'Segoe UI';
    color: black;
    border: 0 solid red;
}

.rf_identity_table td {
    padding: 0;
}

/* IDENTITY TABLE CAPTION CELL with dots...*/
.rf_identity_table_td_capton {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100px;
    max-width: 100px;
}

.rf_identity_table_td_capton_next {
    margin: 0;
    padding: 0;
    background-color: white;
}

.rf_identity_table_td_div_capton_next,
.rf_identity_table_td_div_capton {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    height: 16px;
    max-height: 16px;
    min-height: 16px;
    text-indent: 0;
    font-weight: 600;
    font-size: 11px;
    font-family: 'Segoe UI';
    border: 0 solid green;
    background-color: white;
    padding: 3px 0 0;
    color: #464646;
}

.rf_identity_table_td_div_capton_next {
    margin-left: 10px;
}

/* IDENTITY TABLE INPUT CELL*/
.rf_identity_table_td_value {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
}

.rf_identity_table_input {
    padding: 0;
    width: 98%;
    font-size: 11px;
    color: black;
    font-family: 'Segoe UI';
    height: 16px;
    min-height: 16px;
    max-height: 16px;
    margin: 0 0 2px;
    min-width: 65px;
}

.rf_identity_table_select option,
.rf_identity_table_select {
    padding: 0;
    font-size: 11px;
    color: black;
    font-family: 'Segoe UI';
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    margin: 0 0 2px;
}

.rf_identity_td_value_innerTable {
    padding: 0;
    margin: 0;
    border: 0 solid red;
    width: 99%;
}

.rf_identity_td_value_innerTable td {
    padding: 0;
}

.rf_identity_upper_row {
    padding: 0;
    margin: 0;
    background-color: white;
    border: 0 dotted yellow;
}

.rf_identity_lower_row {
    padding: 0;
    margin: 0;
    background-color: white;
    border: 0 dotted yellow;
}

.rf_identity_lower_row_td {
    padding: 0;
    margin: 0;
    color: Gray;
    font-size: 10px;
    font-family: tahoma;
}

.identity_field_notearea {
    font-size: 11px;
    font-family: 'Segoe UI';
    width: 96%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    margin-top: 5px;
    resize: none;
}

/** CUSTOM FEILDS SECTION**/
#identity_customfieldsRow_labels {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 11px;
    color: #464646;
    height: 28px;
    min-height: 28px;
    max-height: 28px;
}

.custom_field_multitextbox,
.custom_field_singletextbox {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 11px;
    width: 95%;
}

custom_field_row {
    padding: 0;
    margin: 0;
    border: 0 solid red;
    width: 99%;
}

/*INNER FIELDSER for scrolling*/
#rf_identity_fieldset_inner {
    padding: 0 8px 0 8px;
    margin: 0 0 5px 0;
    max-height: 475px;
    overflow-y: auto;
    border: 0 solid yellow;
    background-color: white;
    overflow-x: hidden;
}

/**********    LOGIN/SAFENOTE Editor     *******/
#logineditor_div {
    margin: 0;
    padding: 10px 0 0;
}

#logineditor_fields_div {
    display: none;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/* FIELDS MAIN GROUPBOX  */
#logineditor_fields_fieldset {
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    border: 1px black;
    width: 99%;
    overflow-x: hidden;
    height: 100%;
    overflow-y: hidden;
}

#logineditor_fields_legend {
    font-weight: 600;
    text-indent: 15px;
    height: 16px;
    font-family: 'Segoe UI';
    font-size: 13px;
    margin-left: 5px;
}

/**inner fieldser with scrolling**/
#logineditor_fields_innerset {
    padding: 0;
    margin: 0;
    width: 99%;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    border: 0 solid red;
    overflow-x: hidden;
}

#logineditor_fields_table {
    padding: 0;
    width: 98%;
    table-layout: fixed;
    font-size: 13px;
    margin: 3px 0;
    color: black;
    border: 0 dotted blue;
}

#logineditor_fields_table td {
    padding: 0;
    border: 0 dotted red;
}

.rf_passcard_table_td_capton {
    padding: 0;
    margin: 0;
}

.rf_passfields_table_td_caption_div {
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    height: 18px;
    max-height: 18px;
    min-height: 18px;
    border: 0 solid green;
    text-indent: 4px;
}

.rf_passfields_table_td_value {
    margin: 0;
    border: 0 solid red;
}

.rf_passcard_table_area {
    padding: 0;
    margin: 0;
    width: 165px;
    max-width: 165px;
    height: 80px;
    max-height: 80px;
    color: grey;
}

.rf_passcard_table_input {
    padding: 0;
    width: 98%;
    max-width: 98%;
    min-width: 98%;
    color: grey;
    height: 17px;
    min-height: 17px;
    max-height: 17px;
    margin: 4px 0;
}

.rf_passfields_table_td_pwdshow {
    padding: 0;
    margin: 0;
    border: 0 solid yellow;
}

.rf_passfields_table_td_pwd_div {
    padding: 0;
    margin: 0;
}

/***  middle-bottom url textboxes  ***/
#logineditor_urls_div {
    display: none;
    padding-bottom: 10px;
}

#logineditor_urls_table {
    width: 100%;
    margin: 0;
    color: black;
    font-family: 'Segoe UI';
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

#logineditor_urls_table td {
    padding: 0;
    border: 0 dotted blue;
}

#logineditor_gotourllbl_td {
    font-weight: 600;
    text-indent: 5px;
}

#logineditor_gotourl_text {
    width: 98%;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    padding-left: 2px;
    color: black;
    font-family: 'Segoe UI';
    font-size: 13px;
}

/*NOTE Textarea*/
#logineditor_note_div {
    display: none;
    padding-bottom: 5px;
}

#logineditor_note_table {
    width: 100%;
    margin: 0;
    color: black;
    font-family: 'Segoe UI';
    font-size: 13px;
    padding: 0 5px;
}

#logineditor_note_table td {
    padding: 0;
    border: 0 dotted blue;
}

#logineditor_notelbl_td {
    font-weight: 600;
    text-indent: 5px;
}

#logineditor_note_textarea {
    height: 210px;
    min-height: 210px;
    max-height: 210px;
    resize: none;
    width: 98%;
    color: black;
    font-family: 'Segoe UI';
    font-size: 12px;
}

/*** bottom buttons ***/
#logineditor_buttons_div {
    display: block;
}

#logineditor_buttons_table {
    width: 100%;
    margin: 0;
    color: black;
    font-family: 'Segoe UI';
    font-size: 13px;
    padding: 0 5px;
}

#logineditor_buttons_table td {
    padding: 0;
    border: 0 dotted red;
}

#logineditor_save_btn,
#logineditor_cancel_btn {
    padding: 0;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 72px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    margin: 7px 5px 0 0;
}

/******* RENAME FOLDER    *******/
#rffolder_rename_div {
    padding: 0;
    margin: 0;
}

#renamefolder_section_table {
    margin: 0;
    width: 100%;
    color: black;
    font-family: 'Segoe UI';
    font-size: 13px;
    border: 0 dotted red;
    padding: 10px 10px 0 5px;
}

#renamefolder_section_table td {
    padding: 0;
    border: 0 dotted red;
}

/* label, input and errormsg**/
#renamefolder_lbl {
    font-weight: 600;
}

#renamefolder_input {
    width: 98%;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    padding-left: 2px;
    margin-top: 4px;
}

#renamefolder_err_msg {
    margin-top: 5px;
    font-family: 'Segoe UI';
    font-size: 11px;
    color: black;
    font-weight: bold;
    height: 20px;
}

/* bottom buttons */
#renamefolder_ok_btn,
#renamefolder_cancel_btn {
    padding: 0;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 72px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    margin: 7px 5px 0 0;
}

#renamefolder_ok_btn {
    margin-right: 5px;
}

/** Bottom buttoms and progress**/
#rfIdentitysection_prg_ind {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 20px;
    width: 16px;
    height: 16px;
    border: 0 solid red;
    display: none;
}

/************  CREATE FOLDER    ****************/
#rffolder_create_div {
    padding: 0;
    margin: 0;
}

#createfolder_section_table {
    margin: 0;
    width: 100%;
    color: black;
    font-family: 'Segoe UI';
    font-size: 13px;
    border: 0 dotted red;
    padding: 10px 10px 0 5px;
}

#createfolder_section_table td {
    padding: 0;
    border: 0 dotted red;
}

/*  input and errormsg**/
#createfolder_input {
    width: 98%;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    padding-left: 2px;
}

#createfolder_err_msg {
    margin-top: 5px;
    font-family: 'Segoe UI';
    font-size: 11px;
    color: black;
    font-weight: bold;
    height: 20px;
}

/* bottom buttons */
#createfolder_ok_btn,
#createfolder_cancel_btn {
    padding: 0;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 72px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    margin: 7px 5px 0 0;
}

#createfolder_ok_btn {
    margin-right: 5px;
}

/*************  SESSION EXPIRE DIALOG  *********/
#session_timeout_div {
    padding: 0;
    margin: 0;
}

#rfsessexp_table {
    margin: 0;
    color: black;
    padding: 10px 0 0;
    font-family: 'Segoe UI';
    font-size: 13px;
    font-style: normal;
}

#rfsessexp_table td {
    padding: 0;
    border: 0 dotted red;
}

/* top image and label */
#rfsessexp_td_top1 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

#session_expire_img {
    padding: 0;
    margin: 0;
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
}

#session_expire_lbl {
    padding: 0;
    margin: 0;
    color: black;
}

#rfsessexp_tr_top {
    height: 68px;
    min-height: 68px;
    max-height: 68px;
}

/* bottom button */
#rf_session_expire_closebtn {
    padding: 0;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 72px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    margin: 7px 5px 0 0;
}

/************ END SECTION ********************/

/*****    MASTER PASSWORD DIALOG   *****/

#mastpwdEnter_div {
    margin: 0;
    border: 0 dotted red;
    font-family: 'Segoe UI';
    font-size: 14px;
    background-color: transparent;
    padding: 10px 5px 0;
}

/* SWORD div and img */
#mastpwdEnter_sword_div {
    width: 65px;
    min-width: 65px;
    float: left;
    border: 0 dotted red;
    padding-top: 4px;
}

#mastpwdEnter_sword_img {
    padding: 0;
    margin: 0;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

#mastpwdEnter_maintext_div {
    margin: 0;
    font-size: 13px;
    color: black;
    float: left;
    border: 0 dotted blue;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    padding: 5px 0 15px 10px;
}

/*label and textbox*/
#mastpwdEnter_pwdinput_div {
    margin: 0 5px 10px 5px;
    float: left;
    border: 0 dotted blue;
}

#mastpwdEnter_pwd_label {
    font-weight: 600;
}

#mastpwdEnter_input {
    margin: 0;
    width: 255px;
    min-width: 255px;
    max-width: 255px;
    color: black;
    font-size: 14px;
    padding: 0 0 0 3px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
    border: 2px inset #00aff0;
}

/*checkbox and label*/
#mastpwdEnter_chk_div {
    margin: 0 0 7px 1px;
    float: left;
    border: 0 dotted red;
    width: 100%;
}

#rf_cache_mp_lbl {
    padding: 0;
    font-family: 'Segoe UI';
    font-size: 13px;
}

/* error message - wrong user or pass*/
#mastpwdEnter_errormsg {
    float: left;
    color: red;
    font-weight: normal;
    text-align: left;
    margin: 0 0 5px 5px;
    font-size: 12px;
    width: 100%;
    height: 18px;
    min-height: 18px;
    max-height: 18px;
    border: 0 solid red;
}

/* separator*/
#mastpwdEnter_separator {
    float: left;
    height: 1px;
    padding: 0;
    margin: 0 0 12px;
    background: #ccc;
    width: 100%;
}

/* progress indicator*/
#mastpwdEnter_pr_indicator {
    margin: 0;
    float: left;
    width: 35px;
    border: 0 solid red;
    display: none;
    padding: 0 0 0 4px;
}

/*** BUTTONS Section ***/
#mastpwdEnter_buttons_div {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
    border: 0 solid blue;
}

#mastpwdEnter_Submitbtn,
#mastpwdEnter_cancelbtn {
    margin: 0 8px 0 0;
    padding: 0;
    width: 75px;
    min-width: 75px;
    max-width: 75px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

#mastpwdEnter_cancelbtn {
    margin-right: 10px;
}

/********** END SECTION  ***********************/

/*******  CREATE MASTER PASSWORD DIALOG ********/
#rfcreate_mpsection_div {
    margin: 0;
    border: 0 dotted red;
    font-family: 'Segoe UI';
    font-size: 13px;
    background-color: transparent;
    padding: 10px 0 0;
}

/*main table*/
#rfmasterpass_create_table {
    margin: 0;
    width: 100%;
    padding: 0 5px 0 3px;
}

#rfmasterpass_create_table td {
    padding: 0;
}

#rf_createmp_top_table {
    padding: 0;
    margin: 0;
    width: 100%;
}

#rf_createmp_top_table td {
    padding: 0;
    border: 0 dotted red;
}

#rf_creatempdialog_text_td {
}

#rf_createmp_sword_td {
    width: 65px;
    min-width: 65px;
    max-width: 65px;
}

#rf_createmp_sword {
    padding: 0;
    margin: 0;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

/***MAIN TEXT ***/
/*password labels*/
#rf_createmp_pass_txt_confirm,
#rf_createmp_pass_txt {
    margin: 0;
    font-weight: 600;
    width: 110px;
    padding: 0 0 0 10px;
}

/*** inputs ***/
#rf_createmasterpass_input,
#rf_createmasterpass_input_conf {
    padding: 0;
    width: 210px;
    min-width: 210px;
    max-width: 210px;
    font-size: 14px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    margin: 2px 0;
}

/* error message - wrong user or pass*/
#td_wrong_createmastpass_msg {
    margin: 0;
    font-size: 11px;
    color: red;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    text-align: right;
}

#rf_createmp_pass_separator {
    margin-top: 10px;
    margin-bottom: 8px;
}

/*** BOTTOM BUTTONS ***/
#rf_mpcreatedialog_btns_td {
    border: 0 dotted red;
}

#rf_mp_create_submitbtn,
#rf_mp_create_cancelbtn {
    margin: 0 1px 0 0;
    padding: 0;
    width: 75px;
    min-width: 75px;
    max-width: 75px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

#rf_mp_create_submitbtn {
    margin-right: 5px;
}

#mastpass_create_save_indicator {
    margin: 0;
    float: left;
    width: 35px;
    border: 0 solid red;
    display: none;
    padding: 0 0 0 4px;
}

/************  END SECTION  ********************/

/***********  DELETE OBJECT DIALOG  ************/
#rfobject_unblock_section_div,
#rfobject_delete_section_div {
    margin: 0;
    padding: 0;
}

#rfobject_unblock_section_table,
#rfobject_delete_section_table {
    margin: 0;
    width: 100%;
    color: black;
    font-family: 'Segoe UI';
    font-size: 13px;
    border: 0 dotted red;
    padding: 10px 4px 0 5px;
}

#rfobject_unblock_section_table td,
#rfobject_delete_section_table td {
    padding: 0;
    border: 0 dotted red;
}

/*main text and image */
#rfobject_unblock_img_td,
#rfobject_delete_img_td {
    padding: 0;
    margin: 0;
    width: 50px;
}

#rfobject_unblock_img,
#rfobject_delete_img {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
}

#rfobject_unblock_section_lbl,
#rfobject_delete_section_lbl {
    padding: 0;
    margin: 0;
}

#unblock_err_msg,
#td_objdelete__err_msg {
    margin-top: 5px;
    font-family: 'Segoe UI';
    font-size: 11px;
    color: black;
    font-weight: bold;
    height: 20px;
}

/* Bottom buttons and progress indicator */
#rfobject_unblock_cancel_btn,
#rfobject_unblock_ok_btn,
#rfobject_delete_cancel_btn,
#rfobject_delete_ok_btn {
    padding: 0;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 72px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    margin: 7px 5px 0 0;
}

/*progress  indicator */
.div_save_indicator {
    position: absolute;
    padding: 0;
    left: 20px;
    width: 16px;
    height: 16px;
    border: 0 solid red;
    display: none;
    margin: 8px 0 0;
}

.save_progress_img {
    width: 16px;
    height: 16px;
}

/************ END SECTION **********************/

/*************** CONTEXT MENU ******************/
#contextmenu_div {
    display: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(204, 204, 204);
    width: 155px;
    max-width: 155px;
    background-color: rgb(242, 242, 242);
    font-size: 13px;
    position: absolute;
    left: 45px;
    cursor :default;
}

#contextmenu_table {
    margin: 0;
    padding: 4px 0 5px;
    width: 100%;
}

#contextmenu_table td {
    /*border: 1px solid red;*/
    /* padding: 0; */
}

.contextmenu {
    padding: 0;
    margin: 0;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(242, 242, 242);
    font-size: 13px;
    position: absolute;
}

.contextmenu_item_normal {
    padding: 5px 0 5px 0;
    text-indent: 5px;
    width: 100%;
}

.contextmenu_item_normal:hover {
    background-color: rgb(218, 218, 218);
}

#settingsDialog {
    width: 160px;
    max-width: 155px;
    left: 170px;
    top: 35px;
}

/********  END Context Menu SECTION ************/

/*******  FILL from IDENTITY Mini Dialog *******/

#identity_minidialog_div {
    display: none;
    padding: 0;
    margin: 0;
    width: 290px;
    max-width: 290px;
    min-width: 290px;
    font-family: Segoe UI;
    font-size: 13px;
    background-color: rgb(248, 248, 248);
    position: absolute;
    left: 30px;
    border: 1px solid #ccc;
    cursor:default;
}

#identitymini_toptable {
    margin: 0;
    padding: 0 6px 0 7px;
    border: dotted 0 green;
    width: 100%;
}

#identitymini_toptable td {
    padding: 0;
}

#identitymini_topcaption_td {
    border-bottom: 3px solid transparent;
    border-top: 6px solid transparent;
    font-weight: 600;
}

/*Groups instances*/
#identitymini_fieldset {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 77px;
    max-height: 77px;
    overflow-y: auto;
    border: 0 solid blue;
    background-color: transparent;
    overflow-x: hidden;
}

/*inner table with groups*/
#identitymini_groupstable {
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 275px;
    max-width: 275px;
    table-layout: fixed;
}

.identitymini_inner_table {
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 270px;
    max-width: 270px;
    table-layout: fixed;
    border: 0 dotted blue;
}

.identitymini_inner_table td {
    padding: 0;
}

#identitymini_groupstable td {
    padding: 0;
}

.identitymini_grinst_img_td {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
}

.identitymini_grinst_img {
    height: 14px;
    max-height: 14px;
    min-height: 14px;
    width: 14px;
    max-width: 14px;
    min-width: 14px;
}

.identitymini_grinst_text_td {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.identitymini_instance_lbl {
    font-weight: normal;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

/*Fill Empty td, check box and label for it*/
#identitymini_fillempty_td {
    border-top: 3px solid transparent;
    border-bottom: 2px solid transparent;
}

#identitymini_fillempty_check {
    padding-left: 0;
    margin-left: 2px;
}

#identitymini_fillempty_lbl {
    padding: 0;
    margin: 0;
    /*vertical-align: top;*/
}

#identitymini_showall_link {
    font-family: Segoe UI;
    font-size: 11px;
}

#identitymini_showall_link:link,
#identitymini_showall_link:visited,
#identitymini_showall_link:hover,
#identitymini_showall_link:active {
    color: RGB(0, 129, 229);
}

/*BOTTOM buttons*/
#identitymini_btnstable {
    margin: 0;
    background-color: rgb(230, 230, 230);
    padding: 6px 5px 5px 6px;
    border: dotted 0 green;
    width: 100%;
    vertical-align: bottom;
}

#identitymini_btnstable td {
    padding: 0;
}

#identitymini_fill_btn,
#identitymini_submit_btn,
#identitymini_edit_btn {
    width: 84px;
    min-width: 84px;
    max-width: 84px;
    height: 23px;
    min-height: 23px;
    max-height: 23px;
    font-family: Segoe UI;
    font-size: 12px;
}

/********  END Identity MiniDialog SECTION ************/

/*******   MATCHING PASSCARDS  MiniDialog ******/

#match_dialog_div {
    display: none;
    padding: 0;
    margin: 0;
    width: 290px;
    max-width: 290px;
    min-width: 290px;
    min-height: 140px;
    max-height: 220px;
    font-family: Segoe UI;
    font-size: 13px;
    background-color: rgb(248, 248, 248);
    position: absolute;
    left: 30px;
    border: 1px solid #ccc;
    cursor:default;
}

/* MAIN Top Table: top caption, 2 separators, inner table with Logins,
    Fill empty checkbox
    */
#rfmatch_toptable {
    margin: 0;
    padding: 0 6px 0 7px;
    border: dotted 0 green;
    width: 100%;
}

/* do not know how to correctly set space
    from this td to separator*/
#rfmatch_topcaption_td {
    border-bottom: 3px solid transparent;
    border-top: 6px solid transparent;
}

.match_separator_line {
    height: 1px;
    padding: 0;
    margin: 2px 0;
    background: #ccc;
    width: 100%;
}

#rfmatch_middletable {
    margin: 0;
    padding: 0 6px 0 7px;
    border: dotted 0 red;
    width: 100%;
    position: relative;
}

#rfmatch_middletable td {
    padding: 0;
}

/**inner fieldser with scrolling**/
#rfmatch_logins_fieldset {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 75px;
    max-height: 75px;
    overflow-y: auto;
    border: 0 solid yellow;
    background-color: transparent;
    overflow-x: hidden;
}

/*inner table with Logins*/
#rfmatch_loginstable {
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 100%;
}

#rfmatch_loginstable td {
    padding: 0;
}

.rfmatch_login_text_td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 210px;
    width: 210px;
}

.rfmatch_login_lbl {
    font-weight: bold;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.rfmatch_login_radio {
    padding: 0;
    margin-left: 0;
}

/**** details BUTTON - click -> show context menu ****/
.match_details_btn {
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 11px;
    font-family: tahoma;
    height: 17px;
    min-height: 17px;
    max-height: 17px;
    line-height: 17px;
    min-width: 15px;
    width: 15px;
    max-width: 15px;
    vertical-align: bottom;
    text-align: center;
    text-indent: 0;
    border-radius: 0;
    background-color: #f0f0f0;
    color: RGB(113, 113, 113);
    text-shadow: 0 1px white;
    border: 0 solid grey;
    box-shadow: 0 0 1px 1px #888;
}

.match-minidialog-details-V8 {
    height: 22px;
    width: 25px;
    right: 4px;
    position: relative;
}

.match-minidialog-details-V8:hover {
    background-color: rgb(200, 200, 200);
}

.toolbar-minidialog-details-icon-normal {
    background: url("list.png") no-repeat center;
}
.toolbar-minidialog-details-icon-hover {
    background: url("list_hover.png") no-repeat center;
}

/*Fill Empty td, check box and label for it*/
#rfmatch_fillempty_td {
    border-top: 3px solid transparent;
    border-bottom: 2px solid transparent;
}

#rfmatch_showall_link {
    font-family: Segoe UI;
    font-size: 11px;
}

#rfmatch_showall_link:link,
#rfmatch_showall_link:visited,
#rfmatch_showall_link:hover,
#rfmatch_showall_link:active {
    color: RGB(0, 129, 229);
}

#rfmatch_fillempty_check {
    padding-left: 0;
    margin-left: 2px;
}

#rfmatch_fillempty_lbl {
    padding: 0;
    margin: 0;
}

/*Bottom table with buttons*/
#rfmatch_btnstable {
    margin: 0;
    background-color: rgb(230, 230, 230);
    padding: 6px 5px 5px 6px;
    border: dotted 0 green;
    width: 100%;
    vertical-align: bottom;
}

#rfmatch_btnstable td {
    padding: 0;
}

#rfmatch_submit_btn,
#rfmatch_fill_btn,
#rfmatch_edit_btn {
    width: 84px;
    min-width: 84px;
    max-width: 84px;
    height: 23px;
    min-height: 23px;
    max-height: 23px;
    font-family: Segoe UI;
    font-size: 12px;
}

#rfmatch_submit_btn {
    width: 91px;
    min-width: 91px;
    max-width: 91px;
}

.round_btn1 {
    background-color: #ffffff;
    color: RGB(75, 75, 75);
    text-shadow: 0 1px white;
    border: 0 solid grey;
    box-shadow: 0 0 1px 1px #888;
}

.round_btn1:hover {
    background-color: #f0f0f0;
    color: RGB(10, 10, 10);
    text-shadow: 0 1px white;
    border: 0 solid grey;
    box-shadow: 0 0 1px 1px #555;
}

.round_btn1:disabled {
    background-color: RGB(225, 225, 225);
    color: RGB(150, 150, 150);
    text-shadow: 0 0 white;
    border: 1px solid RGB(211, 211, 211);
    box-shadow: 0 0 1px 1px #ccc;
}

/*****  END MATCHING LOGINS SECTION ************/

/**********    ONE TIME PASSWORD    ************/
#rf_otp_section_div {
    margin: 0;
    border: 0 dotted red;
    font-family: 'Segoe UI';
    font-size: 14px;
    background-color: transparent;
    padding: 15px 0 0;
}

#rf_otp_caption_div {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

#rf_otp_caption_lbl {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

/*top image and text*/
#rf_otp_image_div {
    width: 76px;
    min-width: 76px;
    float: left;
    border: 0 dotted red;
    padding-top: 4px;
}

#rf_otp_mainimage {
    padding: 0;
    margin: 0;
    width: 59px;
    min-width: 59px;
    max-width: 59px;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
}

#rf_otp_toptext_div {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}

#rf_otp_toptext_lbl {
    width: 250px;
    float: left;
}

/* Check mail-sms main text */
#rf_otp_checkmail_div {
    padding-top: 15px;
    margin: 10px 0 10px 5px;
    float: left;
    border: 0 dotted blue;
    padding-left: 8px;
}

#rf_otp_checkmail_lbl {
    padding: 0;
}

/*Password label and text box*/
#rf_otp_password_div {
    margin: 0 5px 10px 5px;
    float: left;
    border: 0 dotted blue;
    padding-left: 8px;
}

#rf_otp_pwd_lbl {
    font-weight: 600;
    margin-right: 8px;
}

#rf_otp_pwd_textbox {
    margin: 0;
    width: 235px;
    min-width: 235px;
    max-width: 235px;
    color: black;
    font-size: 14px;
    padding: 0 0 0 3px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
    background-color: RGB(250, 250, 250);
    padding-left: 5px;
}

/* memorize check and label */
#rf_otp_memorize_div {
    margin: 0 0 2px 5px;
    float: left;
    border: 0 dotted red;
    padding-left: 8px;
    padding-right: 10px;
}

#rf_otp_memorize_chk {
    padding: 0;
    margin: 0;
}

#rf_otp_memorize_lbl {
    padding: 0;
    font-size: 12px;
}

/**** error message****/
#rf_otp_errmsg {
    float: left;
    color: red;
    font-weight: normal;
    text-align: center;
    margin: 10px 0 10px 5px;
    border: 0 dotted red;
    height: 18px;
    min-height: 18px;
    width: 98%;
    font-size: 12px;
}

/* separator */
#rf_otp_separator {
    float: left;
    height: 1px;
    padding: 0;
    margin: 0 0 12px;
    background: #ccc;
    width: 100%;

}

/* BUTTONS and progress */
#rf_otp_save_indicator {
    margin: 0;
    padding: 0;
    width: 35px;
    min-width: 35px;
    max-width: 35px;
    border: 0 solid red;
    display: none;
    position: absolute;
    top: 325px;
    left: 10px;
}

/** Bottom buttoms**/
#rf_otp_buttons {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
    border: 0 solid blue;
    top: 230px;
    float: right;
}

#rf_otp_cancelbtn,
#rf_otp_submitbtn {
    margin: 0 8px 0 0;
    padding: 0;
    width: 75px;
    min-width: 75px;
    max-width: 75px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

/************ END SECTION **********************/

/**********          SEARCH         ************/

#search_bar_dropdown {
    display: none;
    margin: 0;
    width: 335px;
    max-width: 335px;
    min-width: 335px;
    font-family: Segoe UI;
    font-size: 13px;
    background-color: rgb(246, 246, 246);
    position: absolute;
    left: 6px;
    top: 75px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    border: 1px solid #ccc;
    border-top-color: rgb(226, 226, 226);
    padding-top: 2px;
    cursor: default;
}

.search_dropdown_item_wrapper,
.search_dropdown_default_item_wrapper {
    float: left;
    padding: 0 0 0 5px;
    margin: 2px 0 2px 0;
    max-width: 335px;
    min-width: 335px;
}

.search_dropdown_item_wrapper:hover,
.search_dropdown_default_item_wrapper:hover {
    float: left;
    padding: 0 0 0 5px;
    margin: 2px 0 2px 0;
    max-width: 335px;
    min-width: 335px;
    background-color: rgb(236, 236, 236);
}

.search_dropdown_item {
    float: left;
    margin: 3px 0 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 300px;
}

.toolbar-search-result {
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 4px;
    margin-left: 2px;
}

/************ END SECTION **********************/

/* COMMON STYLES for all SETUP screens*/

/** TOP TABLE: Text with round RF image **/
.setup_screens_toptable {
    margin: 0;
    width: 100%;
    padding: 5px 10px 5px;
}

.setup_screens_toptable td {
    padding: 0;
    border: 0 dotted blue;
}

/** TOP TABLE: left aligned text **/
.setup_screens_toptexttable {
    margin: 0;
    width: 100%;
    padding: 18px 0 0;
}

/*Main Text and RF Image*/
.setup_screens_toptext1 {
    font-weight: 400;
    color: RGB(75, 75, 75);
    font-size: 19px;
    text-align: left;
    vertical-align: bottom;
}

.setup_screens_toptext2 {
    font-weight: 400;
    color: RGB(85, 85, 85);
    font-size: 15px;
    text-align: left;
    vertical-align: top;
    height: 40px;
}

/* right aligned RF Image*/
.setup_screens_topimage_td {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.setup_screens_topimage {
    padding: 0;
    margin: 0;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
}

/** BOTTOM TABLES - BUTTONS, Links, Progress**/
.setup_screens_buttonstable {
    margin: 0;
    width: 100%;
    padding: 0 6px 0 8px;
}

.setup_screens_buttonstable td {
    padding: 0;
}

/* separator */
.setup_screens_separator_div {
    border-bottom: 5px solid white;
    height: 1px;
    padding: 0;
    margin: 2px 0;
    background: #ccc;
    width: 100%;
}

/* Back/Next button*/
.setup_screens_next_td {
    width: 75px;
    text-align: right;
}

.setup_screens_back_td {
    text-align: left;
}

.setup_screens_button {
    padding: 0;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 34px;
    min-height: 34px;
    max-height: 34px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    margin: 0;
}

/* progress div, gif*/
.setup_screens_progress_div {
    margin: 0;
    border: 0 solid red;
    display: none;
    padding: 0;
    position: relative;
}

.setup_screens_progress_td {
    width: 20px;
    text-align: right;
}

.setup_screens_alink {
    font-family: Segoe UI;
    font-size: 12px;
    text-decoration: none;
}

.setup_screens_alink:link,
.setup_screens_alink:visited,
.setup_screens_alink:hover,
.setup_screens_alink:active {
    color: RGB(0, 129, 229);
}

/* MIDDLE Table with controls...*/
.setup_screens_middletable {
    margin: 0;
    width: 100%;
    padding: 0 0 0 10px;
}

.setup_screens_middletable td {
    padding: 0;
}

/** INPUT's  **/
.setup_screens_input {
    padding: 0;
    margin: 0;
    height: 28px;
    min-height: 28px;
    max-height: 28px;
    font-size: 14px;
    text-indent: 3px;
}

/* CONFIRM Password for Account(normal) dialog
    - Master Password input
    - Back/Next buttons
*/
#confirm_accountpwd_div {
    margin: 0;
    border: 0 solid red;
    background-color: transparent;
    padding: 10px 0 0;
    font-family: Segoe UI;
}

#confirm_accountpwd_pwdlabel {
    text-align: left;
    color: RGB(155, 155, 155);
    font-weight: 500;
    font-size: 12px;
    border-bottom: 3px solid white;
}

#confirm_accountpwd_emaillabel {
    text-align: left;
    color: RGB(155, 155, 155);
    font-weight: 500;
    font-size: 12px;
    border-top: 15px solid white;
    border-bottom: 0 solid white;
}

#confirm_accountpwd_emailvalue {
    text-align: left;
    color: RGB(45, 45, 45);
    font-weight: 600;
    font-size: 12px;
    text-decoration: underline;
}

#confirm_accountpwd_confirmpwdtitle {
    text-align: left;
    color: RGB(45, 45, 45);
    font-weight: 400;
    font-size: 16px;
    border-top: 10px solid white;
}

#confirm_accountpwd_confirmpwdnotetxt {
    text-align: left;
    color: RGB(45, 45, 45);
    font-weight: 500;
    font-size: 12px;
    border-top: 10px solid white;
    border-bottom: 5px solid white;
}

#confirm_accountpwd_pwd {
    width: 310px;
}

/* error message*/
#confirm_accountpwd_error {
    font-size: 12px;
    color: red;
    height: 75px;
}

/** **CREATE Free Account dialog**
VARIANT 1: Welcome to RoboForm text(after install)
    - eMail input
    - Master Password input
    - Login with existing account link
    - Next button
**/
#rfsignupsection_div {
    padding: 10px 0 0;
    margin: 0;
    border: 0 solid red;
    background-color: transparent;
    font-family: Segoe UI;
    font-size: 13px;
}

/** pwd strength**/
#rfsignupsection_pwd_strength_td {
    width: 60px;
    vertical-align: bottom;
}

#rfsignupsection_strength_div {
    float: inherit;
    width: 60px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    text-align: center;
}

#rfsignupsection_middletable_step1_toptxt_td {
    font-weight: 500;
    color: RGB(35, 35, 35);
    font-size: 15px;
    text-align: left;
}

#rfsignupsection_middletable_step1_emailtd,
#rf_sign_td_step1_pwd {
    font-weight: 500;
    color: RGB(115, 115, 115);
    font-size: 12px;
    text-align: left;
    border-bottom: 3px solid white;
    border-top: 8px solid white;
}

#rf_sign_step1_pwd,
#fk_email {
    width: 260px;
}

#rf_sign_step1_pwd {
    margin-bottom: 4px;
}

/** text below Password input **/
#rf_sign_step1_text {
    text-align: left;
    color: grey;
    font-size: 11px;
    border-top: 10px solid white;
}

/** error message */
#err_signup_msg {
    font-size: 12px;
    color: red;
    height: 38px;
    min-height: 38px;
    max-height: 38px;
}

/** **LOGIN with existing account dialog**
    - EMail  input
    - Create new RoboForm account Link
    - Back/Next buttons
**/
#rfloginsection_div {
    margin: 0;
    border: 0 solid red;
    background-color: transparent;
    padding: 10px 0 0;
    font-family: Segoe UI;
}

#tdloginsection_session_txt {
    color: grey;
    font-size: 11px;
    border-top: 35px solid white;
}

#rfloginsection_setupcookies_link {
    font-family: Segoe UI;
    font-size: 11px;
    text-decoration: none;
}

#rfloginsection_setupcookies_link:link,
#rfloginsection_setupcookies_link:visited,
#rfloginsection_setupcookies_link:hover,
#rfloginsection_setupcookies_link:active {
    color: RGB(0, 129, 229);
}

#rf_userid_input_fk {
    width: 260px;
}

#rfloginsection_userid_td {
    font-weight: 500;
    color: RGB(115, 115, 115);
    font-size: 12px;
    text-align: left;
    border-top: 31px solid white;
    border-bottom: 2px solid white;
}

#rfloginsection_createaccount_td {
    border-top: 6px solid white;
}

/** error message **/
#td_wrong_creds_msg {
    font-family: Segoe UI;
    font-size: 12px;
    color: red;
    text-align: center;
    height: 71px;
    min-height: 71px;
    max-height: 71px;
}

/* LOGIN with existing account dialog(Step 2)
    - Password  input
    - Back/Next buttons
*/
#login_pwdsection_div {
    margin: 0;
    border: 0 solid red;
    background-color: transparent;
    padding: 10px 0 0;
    font-family: Segoe UI;
}

#login_pwdsection_entertxt_td {
    font-weight: 500;
    color: RGB(115, 115, 115);
    font-size: 12px;
    text-align: left;
    border-top: 31px solid white;
    border-bottom: 2px solid white;
}

#login_pwdsection_emailtxt_td {
    text-align: left;
    color: RGB(45, 45, 45);
    font-weight: 600;
    font-size: 12px;
    text-decoration: underline;
    border-bottom: 7px solid white;
}

#login_pwdsection_errmsg {
    font-size: 12px;
    color: red;
    height: 137px;
    min-height: 137px;
    max-height: 137px;
}

#login_pwdsection_pwdinput {
    width: 260px;
}

/** Change Master Password **/

#change_master_password_div {
    margin: 0;
    border: 0 solid red;
    background-color: transparent;
    padding: 0;
    font-family: Segoe UI;
}

#change_master_password_table {
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
#change_master_password_table td {
    padding: 0;
    border: 0px dotted green;
}

/** header text with image in one row **/
#change_master_password_header_text {
    font-weight: 400;
    color: RGB(25, 25, 25);
    font-size: 16px;
    text-align: left;
    vertical-align: central;
}
#change_master_password_header_image_td {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

/** middle part with tree inputs **/
.change_master_password_content_input {
    margin-top: 10px;
}

#change_master_password_current_label,
#change_master_password_new_label,
#change_master_password_confirm_label {
    font-weight: 500;
    color: RGB(115, 115, 115);
    font-size: 12px;
    text-align: left;
    border-bottom: 3px solid white;
    border-top: 8px solid white;
}

#change_master_password_current_input,
#change_master_password_new_input,
#change_master_password_confirm_input {
    padding: 0;
    margin: 0;
    width: 316px;
    font-size: 12px;
    height: 22px;
    min-height: 22px;
    max-height: 22px;
    text-indent: 3px;
}

/** footer: Error, separator, button **/
#change_master_password_error_title {
    height: 23px;
    font-family: Segoe UI;
    font-weight: 400;
    color: RGB(0, 0, 255);
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
}

#change_master_password_error_div {
    height: 80px;
    font-family: Segoe UI;
    font-weight: 400;
    color: RGB(15, 15, 15);
    font-size: 12px;
    text-align: left;
    margin-top: 0px;
}

#change_master_password_separator {
    float: left;
    height: 1px;
    padding: 0;
    margin: 0 0 12px;
    background: #ccc;
    width: 100%;
}

#change_master_password_progress {
    margin: 0;
    float: left;
    width: 35px;
    min-width: 35px;
    max-width: 35px;
    border: 0 solid red;
    display: none;
    padding: 0 0 0 4px;
    margin-top: 9px;
}

#change_master_password_buttons_div {
    float: right;
}

#change_master_password_cancel,
#change_master_password_change {
    padding: 0;
    width: 90px;
    min-width: 90px;
    max-width: 90px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    margin: 0 10px 6px 0;
}

/** End Section **/

/** Login to Account, enter only password (UNLOCK)**/

#enteraccountpwd_tbl {
    font-family: Segoe UI;
    padding-top: 15px;
}

#enteraccountpwd_tbl td {
    padding: 0;
    border: 0px dotted black;
    text-align: center;
}

#enteraccountpwd_topcaption_lbl {
    font-weight: 400;
    color: RGB(75, 75, 75);
    font-size: 20px;
}

#enteraccountpwd_middle_img {
    margin: 0;
    padding: 0;
    margin-top: 13px;
    margin-bottom: 6px;
}

#enteraccountpwd_foraccount_lbl {
    font-weight: 400;
    color: RGB(75, 75, 75);
    font-size: 13px;
    vertical-align: bottom;
}

#enteraccountpwd_username_lbl {
    font-weight: 400;
    color: RGB(0, 0, 0);
    font-size: 14px;
    vertical-align: top;
}

/** error message **/
#enteraccountpwd_rfus_test_lbl, 
#enteraccountpwd_error_lbl {
    font-size: 11px;
    color: red;
    text-align: center;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
}

#enteraccountpwd_pwd_txt {
    width: 249px;
    min-width: 249px;
    max-width: 249px;
    height: 31px;
    min-height: 31px;
    max-height: 31px;
    font-size: 25px;
    padding-left: 2px;
    margin-bottom: 0px;
}

#enteraccountpwd_login_btn {
    width: 257px;
    min-width: 257px;
    max-width: 257px;
    height: 36px;
    min-height: 36px;
    max-height: 36px;
    font-size: 13px;
    margin-bottom: 20px;
}

#enteraccountpwd_changeaccount_link {
    font-size: 13px;
    text-decoration: underline;
}

#enteraccountpwd_changeaccount_link:link,
#enteraccountpwd_changeaccount_link:visited,
#enteraccountpwd_changeaccount_link:hover,
#enteraccountpwd_changeaccount_link:active {
    color: RGB(0, 129, 229);
}
#enteraccountpwd_loading_tr,
#enteraccountpwd_pwd_tr {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    vertical-align:top;
}
/** End Section **/

ul.breadcrumb {
    padding: 0 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    word-wrap: break-word;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: '>';
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}