#setup_notification_div,
#strip_loader_div,
#mainscreen,
#rfpassword_generator_div,
#rfsignupsection_div,
#rfloginsection_div,
#change_master_password_div,
#rf_otp_section_div,
#search_bar_dropdown,
#identity_minidialog_div,
#match_dialog_div,
#contextmenu_div,
#rfobject_delete_section_div,
#session_timeout_div,
#rffolder_create_div,
#rffolder_rename_div,
#mastpwdEnter_div,
#rfcreate_mpsection_div,
#logineditor_div,
#manualsaveDlg_div,
#rfcreate_object_dialog,
#rfIdentitysection_div {
    display: none;
}

#setup_notification_div {
    display: none;
    overflow-y: hidden;
    font-family: 'Segoe UI';
    background-color: white;
    max-width: 350px;
    min-width: 350px;
    padding-top: 15px;
    margin: 0;
    z-index: 1000;
}

/** setup main text, to the right from the logo**/
#setup_welcome {
    font-weight: 400;
    color: RGB(10, 10, 10);
    font-size: 19px;
    text-align: center;
    white-space: normal;
    padding-top: 20px;
}

#setup_logo {
    text-align: center;
}

#setup_logo_img {
    border: 0;
    padding: 0;
    margin: 0;
}

#setup_description {
    text-indent: 0;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    white-space: normal;
    margin: 24px;
}

/* Bottom table */

#setup_bottom {
    margin: 0;
    padding: 0;
    text-align: center;
}

#setup_notification_buttons {
}

#start_sa_link,
#start_nm_button,
#download_button {
    display: none;
    padding: 0;
    height: 34px;
    min-height: 34px;
    max-height: 34px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

#start_sa_link_container {
}

#start_sa_link {
    color: RGB(113, 113, 113);
    text-decoration: none;
    font-size: 15px;
}

#start_nm_button {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

#download_button {
    width: 130px;
    min-width: 130px;
    max-width: 130px;
    margin: 0 0 10px 0;
    background: #2979ff;
    font-size: 15px;
    border: 1px #2962ff;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}

#download_button:hover {
    background: #448aff;
}

#download_button:active {
    background: #2962ff;
}
#download_button:disabled {
    background: #808080;
}

/* TODO */

#toolbar,
#message {
    display: none;
}

body {
    margin: 0;
}