.CodeMirror .CodeMirror-selected {
	background-color: rgba(0, 116, 255, 0.8);
}
.CodeMirror .CodeMirror-selectedtext:not(.CodeMirror-persist-highlight) {
	color: #ffffff!important;
}
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
	background: rgba(0, 116, 255, 0.8);
	color: #ffffff !important;
}
